# Python print() Function

In [198]:
print("hello")

hello

In [5]:
a= 10
print("a=",a)# Two objects are passed in print() function

a= 10

In [8]:
b=a
print("a=",a,"=b")# Three objects are passed in print function

a= 10 =b

IMP
1. = : assign value --> focus on memory address
2. == : comparison--> focus on values

In [9]:
#Python provides the input() function which is used to take input from the user.

In [10]:
name = input("hi,what is ur name:")
print("hey",name)

hi,what is ur name:
hey

In [11]:
number = int(input("enter ur number"))
print("call me on:",number)

enter ur number

ValueError: invalid literal for int() with base 10: ''

Separator
The print() function can accept any number of positional arguments. To separate these positional arguments , keyword argument “sep” is used.

In [12]:
a=12
b=12
c=2022
print(a,b,c,sep="-")

12-12-2022

Example: with print() function to write content directly to text file.

In [13]:
import sys

In [14]:
print("hi, m adding some text here", file=open("D:/filename=requirements.txt", 'w'))# yat nhi change honar

In [15]:
print("hi, m adding some text here1", file=open("Testfile.txt", 'w'))# current working directory madhe txt file create hoil n tyat cgange hoil

In [16]:
# addition of number

In [ ]:
num1 = int(input("enter 1 num"))
num2 = int(input("enter 2 num"))
#print("num1 + num2")   # (" ") nhi dyayche te as a string cosider krel
print(num1 +  num2)

In [213]:
a= 10
b = 45
print(a+b)

55

In [214]:
print("1","2","D",sep="**")

1**2**D

In [ ]:
#startwith(),endwith(),split(),find(),index(),strip()

# # 1. split

In [7]:

email = 'vaish@gmail.com'
#email.split('.')
email.split('@')  #  ===  imp ====

['vaish', 'gmail.com']

In [8]:
email.split('@')[1]

'gmail.com'

In [9]:
email.split('@')[1][5:9]

'.com'

In [11]:
s = "python*java*djngo*c"
s.split('*')

['python', 'java', 'djngo', 'c']

In [13]:
s.split('t')

['py', 'hon*java*djngo*c']

In [19]:
filename = "abc.xlsx"
filename.split(".")[0][2]

'c'

In [23]:
filename[0]

'a'

#  #2.  index()  --> gives the index of ele

In [24]:

T = "Python"
T.index(T)

0

In [26]:
#The index() method is almost the same as the find() method, the only difference is that the find() method returns -1 if the value is not found.
t1 = "i hate muslims"
t1.find('ht') #--> space la pn index count krel, ht nvta present mnun -1 ala

-1

In [252]:
t1 = "i hate muslims"
t1.index('hate') #--> space la pn index count krel

2

In [253]:
txt = "Hello, welcome to my world."

x = txt.index("e")

print(x)  # jeva 1st time 'e' ala asel tr print krel

1

In [255]:
txt = "Hello, welcome to my world."

print(txt.find("q"))
print(txt.index("q"))  #--> value not found raise an exception

-1

ValueError: substring not found

#  #3. startswith    --> returns True if the string starts with the specified value, otherwise False.

In [28]:

txt = "welcome to bangalore"
x= txt.startswith('wlcome')
x

False

# Syntax: str.startswith(prefix, start, end)

In [263]:
#Check if position 7 to 20 starts with the characters "wel":

txt = "Hello, welcome to my world."

x = txt.startswith("wel", 7, 20)

print(x)

True

In [264]:
text = "geeks for geeks."
x = text.startswith("geeks for geeks.")
x

True

In [30]:

text = "geeks for geeks."
 
result = text.startswith('for geeks', 6) #--> start with index position 6
print(result)

True

In [31]:
result = text.startswith('geeks', 10) #--> start with index position 10
print(result)

True

#  We can also pass a tuple instead of a string to match with in Python String startswith() Method. In this case, startswith() method will return True if the string starts with any of the item in the tuple

In [33]:
string = "GeeksForGeeks"
res = string.startswith(('geek', 'geeks', 'Geek', 'Geeks'))  #--> ek tri true phij atleast
print(res)

string = "apple"
res = string.startswith(('a', 'e', 'i', 'o', 'u'))
print(res)

string = "mango"
res = string.startswith(('a', 'e', 'i', 'o', 'u'))# he false ala coz start m ni hota a ni nhi

print(res)

True
True
False

# 4. endswith
#Syntax: str.endswith(suffix, start, end)

In [276]:
txt = "welcome to bangalore"
x= txt.endswith('bangalore')
x

True

In [40]:

text = "geeks for geeks."
 
# returns False
result = text.endswith('geeks.')
print (result)

True

In [42]:
result = text.endswith('geeks')
print (result)              # . nhi dily mnun false

False

In [43]:
text = "geeks for geeks."
 
# start parameter: 10
result = text.endswith('geeks.', 10)
print(result)
 
# Both start and end is provided
# start: 10, end: 16 - 1
# Returns False
result = text.endswith('geeks', 10, 16)
print(result)
 
# returns True
result = text.endswith('geeks', 10, 15)#--index 16 la sampla asel tri 1 step adhi ch dyacha 
print(result)

True
False
True

Real time endswith example

In [2]:
print("****enter valid email******\n")
email =input("email id:").lower()
if email.endswith('@gmail.com'):
    print("good")
else:
    print("invalid")

****enter valid email******

email id:ghfukg
invalid

# 5. strip() - The strip() method in-built function of Python is used to remove all the leading and trailing spaces from a string.

In [3]:
# Syntax :string.strip([chars])

In [44]:
string = ' Geeks for Geeks  '
 
# Leading spaces are removed
print(string.strip())

Geeks for Geeks

In [45]:
# Geeks is removed
print(string.strip(' Geeks '))
 
# Not removed since the spaces do not match
print(string.strip('Geeks'))

for
 Geeks for Geeks

.grow()   # org n www remove kryla

In [46]:
string = 'www.Geeksforgeeks.hhnorg'
 
# '.grow' removes 'www' and 'org' and '.'
print(string.strip('.grow'))

Geeksforgeeks.hhn

# (strip, lstrip, rstrip, min, max, maketrans, translate, replace & expandtabs())

In [47]:
str = "---geeksforgeeks---"
print ( str.lstrip('-') ) #--> removes leading char

geeksforgeeks---

In [48]:
str = "---geeksforgeeks---"
print ( str.rstrip('-') ) #--> removes trailing char

---geeksforgeeks

In [20]:
 #min(“string”):- This function returns the minimum value alphabet from the string
    
str = "geeksforgeeksghfjhjbkjkljlkgf"
print(min(str))

b

In [21]:
# max(“string”) :- This function returns the maximum value alphabet from string.

str = "geeksforgeeksghfjhjbkjkljlkgf"
print(max(str))

s

In [24]:
# Python code to demonstrate working of
# maketrans() and translate()
from string import maketrans # for maketrans()

str = "geeksforgeeks"

str1 = "gfo"
str2 = "abc"

# using maketrans() to map elements of str2 with str1
mapped = maketrans( str1, str2 )

# using translate() to translate using the mapping
print ("The string after translation using mapped elements is : ")
print (str.translate(mapped))

ImportError: cannot import name 'maketrans' from 'string' (C:\Users\deshm\anaconda3\lib\string.py)

# Variables

In [49]:
# 1. We do not need to declare variables before using them or declare their type in python.
#2. Python Variable is containers that store values.
#3. A Python variable is a name given to a memory location.
#4. python consider value as a OBJECT.
#5. OBJ are stored in HEAP mem.

# Notes:

The value stored in a variable can be changed during program execution.
A Variables in Python is only a name given to a memory location, all the operations done on the variable effects that memory location.

# Why dont we use pointers in python?
aapn direct value access krto adress nhi so,no need of pointer.
Everything in python is pass by reference not pass by value
x,y,z=10 asel tr 3 different mem location nhi create honar ekach mem loc vr 10 (Value)store hoil n x,y,z tya mem  location la point krtil.

In [50]:
a, b, c = 1, 20.2, "GeeksforGeeks"

print(a)
print(b)
print(c)

1
20.2
GeeksforGeeks

In [217]:
a,b=10,20
print(a+b)

30

In [218]:
a,b="hi","vaish"
print(a+b)

hivaish

# Global and Local Python Variables
#Global Variables - defined and declared outside a function
#Local variables - defined and declared inside a function. We can not call this variable outside the function.

In [219]:
#global keyword -- > Normally, when you create a variable inside a function, that variable is local, and can only be used inside that function.

To create a global variable inside a function, you can use the global keyword.

# global --> main program scope
#local --> function scope

SyntaxError: invalid syntax (206596067.py, line 3)

In [53]:
#Create a variable inside a function, with the same name as the global variable
x = "awsome"
def myfun():
    x= "good"
    print("python is "  + x)# python is nantr space de.
myfun()
print("python is " + x)

python is good
python is awsome

In [54]:
# global keyword
def myfun():
    global x
    x = "good"
    
myfun()
print("python is " + x)

python is good

********* inside fun mdhe global var chi value change krychi asel tr global keyword*********

In [56]:
x= "awsome"
def myfun():
    global x
    x="good"
myfun()
print("python is " + x)

python is good

# Data Types : A variable can hold different types of values.
1. Numric        --> interger, complex no., float
2. Mapping Type  --> Dictonary
3. Set Types     --> frozenset, Set
4. Sequence type --> List, tuple, range
5. text type     --> string
6. Binary Types  --> bytes, bytearray, memoryview

# IMP 
# mutable -- Dict, Set, List
# immutable -- tuple, string

# ordred -- List, Tuple, string
# Unorderd -- Set, Dict

In [41]:
#numeric
# 1. int
var = 123
print(var)
type(var)# to check type 

#2.float
var = 12.5
print("type of var ",type(var))

#3.Complex
var = 2+3j
print("var is a complex number", isinstance(1+3j,complex))  #The isinstance() function returns True if the specified object is of the specified type, otherwise False

123
type of var  <class 'float'>
var is a complex number True

In [42]:
#1. string -- The string can be defined as the sequence of characters represented in the quotation marks.
"hey"+"hi"
"Python" *2 # print python 2 times

'PythonPython'

In [43]:
#2.  string using '', "", ''' '''
str = 'hi'
print(str)
str = "string using double quotes"  
print(str)  
s = '''A multiline 
string'''  
print(s)

hi
string using double quotes
A multiline
string

In [44]:
#3. accessing characters of String


String1 = "GeeksForGeeks"
print("Initial String: ")
print(String1)

# Printing First character
print("First character of String is: ")
print(String1[0])

# Printing Last character
print("\nLast character of String is: ")
print(String1[-4])

Initial String:
GeeksForGeeks
First character of String is:
G

Last character of String is:
e

In [51]:
#4 .reverse of string
a= "vaishnavi deshmukh"
print(a[::-2])  # alternate print in reverse
print(a[::-1])
print(a[:15:2])# start:stop:step

huhe vnsa
hkumhsed ivanhsiav
vihaidsm

In [47]:
# Program to reverse a string

gfg = "geeksforgeeks"

#1. Reverse the string using reversed and join function
gfg = "".join(reversed(gfg))

print(gfg)

#2. .join ()

a= ("john","singh","subboo")
x = "#".join(a)  # join krel # ni

print(x)

#3.
mydict={"name":"vaish", "country":"india"}
seperator = "loves"
x = seperator.join(mydict)
print(x)

skeegrofskeeg
john#singh#subboo
namelovescountry

# List []:mutable & ordered 
list can contain data of different types

In [90]:
#IMP
#1.
l1 =[4,3,"toto",[4,3,[1,5,6]],12.4,[6,7]]

In [29]:
l1

[4, 3, 'toto', [4, 3, [1, 5, 6]], 12.4, [6, 7]]

In [31]:
l1[5]

[6, 7]

In [91]:
#2.
l2=[100,200,[500,450],[750,460,[23,[11,[34,56,78,[86,[1,2,3,4,[56,78,[5,7,89,56],89,78,67]]]]]]]]

In [92]:
l2[3][2][1][1][3][1][4][2][1]

7

In [94]:
#3. 
List = [['Geeks', 'For'], ['Geeks']]
print(List[1])

['Geeks']

In [102]:
#4.
list1  = [1, "hi", "Python", 2] # jr mla "python" ch only "n" phij asel tr nhi access kru shkt only string asli tr kela asta.
print(list1[2:-1])
print(list1[1:2]) #hi print hoil coz (n-1)
print(list1*2)

['Python']
['hi']
[1, 'hi', 'Python', 2, 1, 'hi', 'Python', 2]

In [53]:
#5. Slicing of list

l3 =[1,2,3,4,5,6,7,9,9]
l3
print(l3[3:8]) #start,stop,step
print(l3[-4::])# last index pahij asel tr ::
print(l3[-4:-1])
print(l3[::-1])     # reverse string

[4, 5, 6, 7, 9]
[6, 7, 9, 9]
[6, 7, 9]
[9, 9, 7, 6, 5, 4, 3, 2, 1]

In [142]:
#5.adding ele in list.

l4=[1,5,7,5,3,8,9,0,67,68]
l4
print(len(l4))  # length of string
l4[4]=90
print(l4)

l4[0:3]=56,86,78
print(l4)

l4[-3]=0
print(l4)

10
[1, 5, 7, 5, 90, 8, 9, 0, 67, 68]
[56, 86, 78, 5, 90, 8, 9, 0, 67, 68]
[56, 86, 78, 5, 90, 8, 9, 0, 67, 68]

In [54]:
# input the list as string
string = input("Enter elements (Space-Separated): ")

# split the strings and store it to a list
lst = string.split()
print('The list is:', lst) # printing the list

Enter elements (Space-Separated): e n
The list is: ['e', 'n']

# list operation: insert , append, delete, extend, remove,pop,clear,index,count,sort,reverse

In [55]:
#1 .insert() --> inserts the element before the given index.
l5 = ["hi","hey",4,6,7,8,5,3,5.6,9,3,5,'hello']
print(len(l5))
l5

13

['hi', 'hey', 4, 6, 7, 8, 5, 3, 5.6, 9, 3, 5, 'hello']

In [56]:
l5.insert(-1,'huuu')  # -1 menas last la nhi janar 1 step adhich insert hoil.
l5

['hi', 'hey', 4, 6, 7, 8, 5, 3, 5.6, 9, 3, 5, 'huuu', 'hello']

In [57]:
l5.insert(4,5)
print(len(l5))
l5

15

['hi', 'hey', 4, 6, 5, 7, 8, 5, 3, 5.6, 9, 3, 5, 'huuu', 'hello']

*** multiple ele for perticular index in list possible nhie *******

In [58]:
# replace ele of perticular index using range
a = list(range(10))
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [59]:
a[1:5] = range(11,14)
a

[0, 11, 12, 13, 5, 6, 7, 8, 9]

In [63]:
#2. Concat --> ' + ' sign use kr concat pandas mdhe ahe 
l5 + l6

['hi',
 'hey',
 4,
 6,
 5,
 7,
 8,
 5,
 3,
 5.6,
 9,
 3,
 5,
 'huuu',
 'hello',
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 49]

In [61]:
#3. append() -->  ONLY add at the end

In [62]:
l6 = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
l6.append(49)
l6

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 49]

In [266]:
# add tuple into list
l6.append((4,5,67,'hi',{"name": "heje"}))
l6

[0, 1, 2, 3, (4, 5, 67, 'hi', {'name': 'heje'})]

In [67]:
# add dict into list
l8=[0, 1, 2, 3]
l8.append({"name": "heje"})
l8

[0, 1, 2, 3, {'name': 'heje'}]

In [68]:
#4. Reversing a list
mylist = [1, 2, 3, 4, 5, 'Geek', 'Python']
mylist.reverse()
print(mylist)

['Python', 'Geek', 5, 4, 3, 2, 1]

In [69]:
#5. Remove --> only one ele(NOT INDEX ELE) at a time

In [70]:
List = [1, 2, 3, 4, 5, 6,7, 8, 9, 10, 11, 12]
List.remove(7)
List.remove(10)

print(List)

[1, 2, 3, 4, 5, 6, 8, 9, 11, 12]

In [71]:
l8

[0, 1, 2, 3, {'name': 'heje'}]

In [72]:
#6. POP() --> fact last cha ele PRINT krel jr specific position cha ele pop krycha asel tr pop(---)argument dyaycha.

In [73]:
l8.pop()
l8

[0, 1, 2, 3]

In [74]:
l8.pop(2)
l8

[0, 1, 3]

In [76]:
List2 = [1, 2, 3, 4, 5,8,89]
List2.pop(5)
  # index cha ele pop hoil

8

In [312]:
limited_token = [1,2,3,4,5,6]
limited_token.pop(3)

4

In [313]:
D = limited_token.pop()# pop keleli value D mdhe store keli
D

6

In [314]:
limited_token.insert(3,D)
limited_token

[1, 2, 3, 6, 5]

In [315]:
#7. Extend() -->  add multiple elements at the same time at the end of the list.
# append() -->  add single ele at the end
lt3 = [1, 2, 3, 4]
lt3.extend(['hi',7,5,(4,5)])
lt3

[1, 2, 3, 4, 'hi', 7, 5, (4, 5)]

In [316]:
#8. clear() -->  removes all the elements from the list.
lt3

[1, 2, 3, 4, 'hi', 7, 5, (4, 5)]

In [318]:
lt3.clear()
lt3

[]

In [326]:
#9. sort()--> ascending order
#sort(reverse=True) -->Descending order
cars = ['Ford', 'BMW', 'Volvo']

cars.sort()

In [327]:
cars = ['Ford', 'BMW', 'Volvo']

cars.sort()
cars

['BMW', 'Ford', 'Volvo']

In [328]:
cars.sort(reverse=True)
cars

['Volvo', 'Ford', 'BMW']

In [ ]:
#10. Count() --> count the ele

In [332]:
points = [1, 4, 2, 9, 7, 8, 9, 3, 1]

x = points.count(3)
x

1

In [333]:
#11. index() --> returns the position at the first occurrence of the specified value.

In [334]:
points = [1, 4, 2, 9, 7, 8, 9, 3, 1]

x = points.index(3)
x

7

# Tuple() : immutable & Ordered
Python Tuple is a collection of objects separated by commas. 
The sequence of values stored in a tuple can be of any type, and they are indexed by integers.

# data security,fastre than list,no additional mem

In [41]:
thistuple = ("apple",)     # comma very imp
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

In [2]:
#1. 
var = ("Geeks", "for", "Geeks")
print(var)
print(type(var))

('Geeks', 'for', 'Geeks')
<class 'tuple'>

In [3]:
# we can perform only count & index

In [21]:
#2. accessing values from tuple
p=(12,3,4,56,78,(34,56,98),300)
p

(12, 3, 4, 56, 78, (34, 56, 98), 300)

In [22]:
p[5][1]

56

In [7]:
p[6]

300

#A new way of creating Python Tuples in Python 3.11 –

In [15]:
values : tuple[int | str, ...] = (1,2,4,"Geek")

print(values)   # needs python 3.11

TypeError: unsupported operand type(s) for |: 'type' and 'type'

In [26]:
#3.using -ve index
p1=(12,3,4,56,"hi",78,(34,56,98),300)
p1

(12, 3, 4, 56, 'hi', 78, (34, 56, 98), 300)

In [27]:
p1[-2][1]

56

In [28]:
#4.  Concat
print(p+p1)

(12, 3, 4, 56, 78, (34, 56, 98), 300, 12, 3, 4, 56, 'hi', 78, (34, 56, 98), 300)

In [29]:
#5. Nesting of tuples
p3=(p,p1)
p3

((12, 3, 4, 56, 78, (34, 56, 98), 300),
 (12, 3, 4, 56, 'hi', 78, (34, 56, 98), 300))

In [33]:
#6. repetation
p3 = ('hi',)*3
print(p3)

('hi', 'hi', 'hi')

In [38]:
#7. Slicing Python Tuples

tuple1 = (0 ,1, 2, 3)

print(tuple1)
print(tuple1[::-1])
print(tuple1[2:4])
print(tuple1[-1])

(0, 1, 2, 3)
(3, 2, 1, 0)
(2, 3)
3

In [36]:
tuple1.reverse()
print(tuple1)

AttributeError: 'tuple' object has no attribute 'reverse'

In [39]:
#8. Finding Length of a Tuple
print(len(tuple1))

4

In [40]:
#9. convert list into tuple
li = [1,3,67,8]
print(tuple(li))

(1, 3, 67, 8)

In [44]:
a = input("enter no")
sum =0
for i in a:
    sum = sum + int(i)
print(sum)

enter no567
18

In [63]:
#10. Change Tuple Values using list    -- immutable asel tri krta yeta but using list

ty = ("hi","hello",3,5,6)
ty

('hi', 'hello', 3, 5, 6)

In [64]:
x= list(ty)
x

['hi', 'hello', 3, 5, 6]

In [65]:
x[2]="huuu"
ty = tuple(x)
print(ty)

('hi', 'hello', 'huuu', 5, 6)

In [68]:
#11. Add tuple to a tuple.  -- add kru shkto -- new tuple create krun add kra
thistuple = ("apple","banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [75]:
tu = ("apple", "banana", "cherry",2,45,7)
tuu = (9,)     # comma imp
tu += tuu
print(tu)

('apple', 'banana', 'cherry', 2, 45, 7, 9)

In [79]:
#12. Count () Method
z = tu.count(2)
z

1

In [80]:
#13. Index() Method:

z1 = tu.index("banana")
z1

1

In [91]:
# Tuple Membership Test   --- in , not in  -- check present or not

tuple_ = ("Python", "Tuple", "Ordered", "Immutable", "Collection", "Ordered") 
print('Ordered' in tuple_)
print('Ordered' not in tuple_)

True
False

# SET {}:  a Set is an unordered collection of data types that is iterable, mutable and has no duplicate elements

In [89]:
#1. Creating a Set
set1 = set()
print("Initial blank Set: ")
print(set1)
 
# 2.Creating a Set with
# the use of a String
set1 = set("GeeksForGeeks")                 # delete duplicate ele
print(set1)

string = "vishnu pagal"
set1 = set(string)
set1

set1 = set(["Geeks", "For", "Geeks"])
print("\nSet with the use of List: ")
print(set1)

Initial blank Set:
set()
{'k', 'F', 'o', 'r', 's', 'G', 'e'}

Set with the use of List:
{'Geeks', 'For'}

#  interview -how to remove duplicate ele from list ?

In [95]:
v = [1,2,2,3,3,5,6,7,"huu"]
set(v)

{1, 2, 3, 5, 6, 7, 'huu'}

Note: Lists cannot be added to a set as elements because Lists are not hashable whereas Tuples can be added because tuples are immutable and hence Hashable.

In [96]:
# set mdhe list nhi add kru shkt coz mutuable ahe 
#           tuple add kru shkto immutable ahe

In [97]:
#3. Using add() method

set2 = {1,2,2,3,3,5,6,7,"huu"}
set2.add(99)
set2

{1, 2, 3, 5, 6, 7, 99, 'huu'}

In [102]:
set2.add(("hgjhgjh",567))
set2

{('hgjhgjh', 567), 1, 2, 3, 5, 6, 7, 99, 'hgjhgjh', 'huu'}

In [104]:
set1 = set([4, 5, (6, 7)])
set1.update([10, 11])
print(set1)

{4, 5, 10, 11, (6, 7)}

In [105]:
#4. Removing elements from the Set
#Using remove() method or discard() method:

In [106]:
# To remove elements from a set without KeyError, use discard(), if the element doesn’t exist in the set, it remains unchanged.

In [124]:
set1 = set([1, 2, 3, 4, 5, 6,
            7, 8, 9, 10, 11, 12])
set1

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}

In [125]:
set1.discard(3)
set1

{1, 2, 4, 5, 6, 7, 8, 9, 10, 11, 12}

In [128]:
#5. Using pop() method:     Note: If the set is unordered then there’s no such way to determine which element is popped by using the pop() function. 
set1.pop()
set1

{5, 6, 7, 8, 9, 10, 11, 12}

In [130]:
#6. set1.clear()
set1

set()

In [131]:
def set_subset():
    set1 = {1, 2, 3, 4, 5}
    set2 = {2, 3, 4}
    subset = set2.issubset(set1)
    print(subset)
if __name__ == '__main__':
    set_subset()

True

In [136]:
def set_difference():   # set1 mdhe set2 che j ele present nhiet te print krel
    set1 = {1, 2, 3, 4, 5}
    set2 = {4, 5, 6, 7, 8}
    my_set = set2.difference(set1)
    print(my_set)
if __name__ == '__main__':
    set_difference()

{8, 6, 7}

In [137]:
# Empty curly braces will create dictionary  
set3 = {}  
print(type(set3))  
  
# Empty set using set() function  
set4 = set()  
print(type(set4))

<class 'dict'>
<class 'set'>

In [139]:
#join two sets
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 'a', 'c', 3, 'b'}

In [140]:
#The intersection_update() method will keep only the items that are present in both sets.
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x)

{'apple'}

# Dictionary
Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is ordered*, changeable and do not allow duplicates.

# we cant delete only key or only value, both will del

# Key --> immutable
# value -->  immutable/mutable

As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered.

In [142]:
dict= {"name":"vaish","roll no":12,"id": 8}
dict

{'name': 'vaish', 'roll no': 12, 'id': 8}

In [143]:
#1. items
print(dict["id"])

8

In [147]:
# Accessing ele
dict1= {"name":["vaish",'taish','faish'],"roll no":[13,4512],"id": [7,98,8]}

In [148]:
 
dict1

{'name': ['vaish', 'taish', 'faish'], 'roll no': [13, 4512], 'id': [7, 98, 8]}

In [149]:
dict1['id'][1]

98

In [159]:
dict2 = {"address":{"city":{"pincode:[angles,pune,5678]}"}}}
dict2

{'address': {'city': {'pincode:[angles,pune,5678]}'}}}

In [237]:
x=dict2.get('address')
x

{'city': {'pincode:[angles,pune,5678]}'}}

In [171]:
#get()
x=dict1.get("name")

In [172]:
x

['vaish', 'taish', 'faish']

In [175]:
# to get all the keys
x= dict1.keys()

In [176]:
x

dict_keys(['name', 'roll no', 'id'])

In [242]:
# to get values    ---> as a tuple in list
dict1.values()

dict_values([['vaish', 'taish', 'faish'], [13, 4512], [76, 78, 45], 'IT'])

In [241]:
# to get items
dict1.items()

dict_items([('name', ['vaish', 'taish', 'faish']), ('roll no', [13, 4512]), ('id', [76, 78, 45]), ('department', 'IT')])

In [221]:
# change the value of a key
dict1= {"name":["vaish",'taish','faish'],"roll no":[13,4512],"id": [7,98,8]}
#dict1["name"]="huuu","guuuu" # values dilya without bracket tr as a tuple print honr

In [222]:
dict1

{'name': ['vaish', 'taish', 'faish'], 'roll no': [13, 4512], 'id': [7, 98, 8]}

In [223]:
dict1["name"][1]

'taish'

In [224]:
dict1[1]   # nhi deu shkt coz unorderd ahe direct key ni access krycha

KeyError: 1

In [225]:
# insert an ele
dict1["department"]="IT"
dict1

{'name': ['vaish', 'taish', 'faish'],
 'roll no': [13, 4512],
 'id': [7, 98, 8],
 'department': 'IT'}

In [226]:
#update                                
dict1.update({"id":[76,78,45]})
dict1

{'name': ['vaish', 'taish', 'faish'],
 'roll no': [13, 4512],
 'id': [76, 78, 45],
 'department': 'IT'}

In [200]:
# list to dict
a= ["id","name","department","class"]
x=dict.fromkeys(a)
x

{'id': None, 'name': None, 'department': None, 'class': None}

In [243]:
list(dict1)

['name', 'roll no', 'id', 'department']